
<span id="day_pick">


<!-- message if no day has been picked-->
<div class="main_message">
  <div class="container-fluid">
    <div class="row">
        <h1 align="center">Almost done!</h1>
    </div>
    <div class="row">
        <p align="center">Please select a day</p>
    </div>
  </div>
</div>
</span>
<!-- END message if no day has been picked-->

<!-- cards (shows only if a day is been picked)-->
    <div class="container" style="display: none">
      <div class="card">
        <div class="front">
            <img class="card_pic"src="/images/pasta-al-sugo.jpg">
          </div>
        <div class="back">
          <h2 style="padding-left: 5px">Pasta al sugo</h2>
          <p align="center">
              Simple and plain pasta with sugo from datterini tomatoes
          </p>
            <button class="book_button">
                  <span>book</span>
              </button>
        </div>
          
      </div>
    </div>
<!-- END cards -->

<!-- menu buttons-->
          <div class="btn-group btn-group-justified  btn-lg to_the_bottom" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button class="menu_button day">
                    Mon
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button day">
                Tue
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button day">
                Wed
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button day">
                Thu
                </button>
            </div> 
            <div class="btn-group" role="group">
                <button class="menu_button day">
                Fri
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button day">
                Sat
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button day">
                Sun
                </button>
            </div>       
          </div>
          <!-- END menu buttons-->