<!-- message (shown if no day has been picked)-->
<span id="day_pick">
<div class="main_message">
  <div class="container-fluid">
    <div class="row">
        <h1 align="center">Almost done!</h1>
    </div>
    <div class="row">
        <p align="center">Please select a day</p>
    </div>
  </div>
</div>
</span>
<!-- END message if no day has been picked-->



<% for(var i = 0; i < 2; ++i) {%>
<!-- cards (shows only if a day is been picked)-->
<div class="container" style="display: none">
    <div class="card">
        <div class="front">
            <img id="card<%=i%>" class="card_pic">
        </div>
        <div class="back">
            <h2 id="card<%=i%>-title" style="padding-left: 5px"></h2>
            <p id="card<%=i%>-text" align="center"></p>
            <button class="book_button">
                  <span>book</span>
              </button>
        </div>
    </div>
</div>
<!-- END cards -->
<% } %>


<!-- menu buttons-->
<div class="btn-group btn-group-justified  btn-lg to_the_bottom" role="group" aria-label="...">
    <% days.forEach(function(day) { %>
    <div class="btn-group" role="group">
        <button class="menu_button day">
            <%= day.name %>
        </button>
    </div>
    <% }); %>
</div>
<!-- END menu buttons-->
