<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- custom css --->
    <link rel="stylesheet" href="css/style.css">

    <!-- Google custom fonts --->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poiret+One" rel="stylesheet">

    <!-- Bootstrap Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

    <!-- menu buttons-->
    <div class="btn-group btn-group-justified  btn-lg" role="group">
        <% for(var i = 0; i < 4; ++i) {%>
        <div class="btn-group" role="group">
            <button class="menu_button btn<%=i%>">
                    <img src="<%=btns_img[i].path%>">
                </button>
        </div>
        <% } %>
    </div>
    <!-- END menu buttons-->

    <!-- toggable menu panels-->
    <div class="panel green">
        <% include rate %>
    </div>
    <div class="panel red">
        <% include settings %>
    </div>
    <div class="panel turquese">
        <% include diet %>
    </div>
    <div class="panel orange">
        <% include book %>
    </div>
    <!-- END toggable menu panels-->

    <!-- landing message-->
    <span id="landing">

          <!-- welcome message-->
          <div class="main_message">
              <div class="container-fluid">
                <div class="row">
                    <h1 align="center">Welcome back!</h1>
                </div>
                <div class="row">
                    <p align="center">Silvio, we've missed you. Let's get you a nice meal!</p>
                </div>
              </div>
          </div>
          <!-- END welcome message -->

          <!-- nice bottom image -->
          <img src="/images/groceries.svg" class="to_the_bottom" style="widht=200px" id="bottom-image"/>
          <!-- END nice bottom image -->
        
    </span>
    <!-- END landing message-->

    <!-- scripts-->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--  custom script -->
    <script src="js/script.js"></script>
    <!-- END scripts-->
</body>

</html>
