    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          
    <link rel="stylesheet" href="/style.css">
    
    <!-- custom fonts --->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poiret+One" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      </head>
      <body>
          
          <!-- menu buttons-->
          <div class="btn-group btn-group-justified  btn-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button class="menu_button btn0">
                    <img src="/resources/weekly-calendar.svg">
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button btn1">
                <img src="/resources/star.svg">
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button btn2">
                <img src="/resources/stethoscope.svg">
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="menu_button btn3">
                <img src="/resources/settings.svg">
                </button>
            </div>       
          </div>
          <!-- END menu buttons-->
          <!-- welcome message-->
          <div class="main_message">
              <div class="container-fluid">
                <div class="row">
                    <h1 align="center">Welcome back!</h1>
                </div>
                <div class="row">
                    <p align="center">Silvio, we've missed you. Let's get you some food!</p>
                </div>
              </div>
          </div>
          <!-- END welcome message -->
          <!-- nice bottom cat -->
          <img src="/resources/cat.gif" class="to_the_bottom" style="widht=200px"/>
          <!-- END nice bottom cat -->
          
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
      </body>
    </html>