/* index.ejs */

img {
    height: 80%;
    width: 100%;
}

html, body{
    background-color: #FCF0E4;
}

.menu_button {
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.menu_button.btn0 {
    background-color: #e29b61; 
}
.menu_button.btn0:hover {
    background-color: #f7c7a0;
}

.menu_button.btn1 {
    background-color: #4CAF50; 
}
.menu_button.btn1:hover {
    background-color: #8feaac;
}

.menu_button.btn2 {
    background-color: #64bc9c; 
}
.menu_button.btn2:hover {
    background-color: #87e5c2;
}

.menu_button.btn3 {
    background-color: #E05B49; 
}
.menu_button.btn3:hover {
    background-color: #fc8080;
}

.btn-group {
    width: 100;
    height: 60px;
    padding: 0;
}

div.main_message {
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #492D07;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    color: #492D07;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: #492D07;
}

.to_the_bottom{
    position:fixed;
    bottom: 0px;
    right:0%;
    height: 200px;
    width: 200px;
}

.panel {
    margin-top: -5px;
    margin-bottom: -5px;
    border: none;
    width: 100%;
    height: 900px;
    padding: 0;
    text-align: center;
    align-content: center;
    display: none;
}

.panel.green {
    background-color: #4CAF50;
}

.panel.red {
    background-color: #E05B49;
}

.panel.orange {
    background-color: #e29b61;
}

.panel.turquese {
    background-color: #64bc9c;
}
/* END index.ejs */


.btn-group.to_the_bottom{
    position:fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
}

.menu_button.day {
    background-color: #cacdd1; 
}

.menu_button.day:hover {
  background: #61a8e2
}

.menu_button.day:active, .active {
    color: white;
}
/* card flipping css */
.container {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  width: 300px;
  height: 200px;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  border-radius: 4px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
}
.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 6px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-smoothing: antialiased;
  color: #47525d;
}
.card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card_pic {
  min-width: 150px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.book_button {
  position: absolute;
  align-self: center;
  bottom: 15px;
  border-radius: 4px;
  background-color:#61a8e2;
  border: none;
  width: 100px;
  transition: all 0.5s;
}


.book_button span {
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.book_button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.book_button:hover span {
  padding-right: 25px;
}

.book_button:hover span:after {
  opacity: 1;
  right: 0;
}
/* END card flipping css */